━━━━━━━━━━━━━━━━
**ФИО игрока**
━━━━━━━━━━━━━━━━
Фамилия: {{if .LastName}}{{.LastName}}{{else}}-{{end}}
Имя: {{if .FirstName}}{{.FirstName}}{{else}}-{{end}}
Отчество: {{if .Patronymic}}{{.Patronymic}}{{else}}-{{end}}

Выберите действие:
